body{
    background-color: rgb(90, 192, 255);
}
ul{
    list-style-type: none;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
li{
    display: block;
}
li:first-letter{
    font-size: 24px;
}
